<h1>Coaching#ask</h1>

<p>
<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="time" placeholder="what time is it?">
  <input type="submit" value="Go on!">
  <%= link_to "your answer", answer_path %>
</form>
</p>
